# Python Basics for Data Science

# 1. Variables, Printing and Comments

## 1.1 Variables

A **python variable** is a reserved memory location that can be used to store values. Use to temporarily store information before manipulation.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# ---
# Assign the value 10 to the variable named a
# ---
# OUR CODE GOES BELOW
#
a = 10

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ---
# Again, let's assign the value "Earth" to the variable planet.
# ---
# OUR CODE GOES BELOW
#
planet = "Earth"

##### <font color="blue">Challenge</font>`

In [ ]:
# ---
# let's assign the value Moringa to the variable my_collage.
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# ---
# let's assign the value your name to the variable name.
# ---
# OUR CODE GOES BELOW
#

## 1.2 Printing

The **print()** function prints the specified message to the screen. This function is used to reveal what is stored in a variable.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# ---
# Question: Print the text "Hello!" in the output console of this cell
# ---
# OUR CODE GOES BELOW
#
print("Hello!")

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ---
# Question: Print the text "Hello william!" and defining a whitespace as a seperator
# ---
# OUR CODE GOES BELOW
#
print("Hello", "William!", sep="-")

##### <font color="blue">Challenge</font>

In [ ]:
# Print the text  i love camping in the output console of this cell
# ---
# OUR CODE GOES BELOW
#

In [ ]:
# Question: Print the text "I love data sceince" and defining a whitespace as a seperator
# ---
# OUR CODE GOES BELOW
#

## 1.3 Comments

**Comments** are simple notes used in our code to provide explanatory information
about the code. Used to explain complex code.

#### <font color="blue">Example</font>

##### <font color="blue">Example 1:</font> Single Line Comments

In [ ]:
# the following variable stores the value 56
score = 56

##### <font color="blue">Challenge</font>

Do Research on how you can comment multiple lines and provide your finding in the below code text.

Note: all the 2 texts should be commented in the best way possible.

In [ ]:

I want to learn Data science
The code challenge is amazing
I will strive to write a clean code

# 2. Arithmetic Operators

**Arithmetic operators** are mathematical functions that take two values and
perform a calculation on them.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
#

# Declare our variables
a = 40
b = 10

# Addition
c = a + b

# Printing out our results
print(c)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# We can perform an division operation below
# ---
#
d = a / b

# Printing out our result
# ---
#
print(d)

4.0

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
#

# Declaring our variables
# ---
#
a = 40
b = 10

# Using the increment operator
# ---
# a = a + b ---> a += b
a += b

# Printing out our result
# ---
#
print(a)

##### <font color="blue">Challenge</font>

Do research

In [ ]:
# Declare an int variables

# use modulus to check on whether it is an even or odd number


# Printing out our results

In [ ]:

# We can perform an multiplication operation below
# ---
#declare  1 float and 1 int variable


#Multiply the  the 2 variables


# Printing out our result
# ---

# 3. Data Types

A **data type** is a classification that allows specifying which type of value
a variable contains. It defines the operations that can be done on the data and how the data can be stored.

- **Integer** value is a positive or negative whole number i.e. -1 or 4.
- **String** value is a sequence of characters. Strings are contained in either single or double quotes i.e. "Jane" or 'Janet'.
- **Float** value is a real number with floating-point representation i.e. 10.5 or 55.69

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Dynamically-inferred types
# ---
#
# Integer data type
# ---
#
x = 50
print(type(x))

In [ ]:
# String data type
# ---
#
x = '30'
print(type(x))

In [ ]:
# Float data type
# ---
#
x = 90.0
print(type(x))

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Adding an value of integer datatype with a value of string data type.
# ---
#
x = 40
y = '4'

print(x + int(y))

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Automatic type-conversion (int to float)
# ---
#
x = 20
print(type(x))

x += 5.0 # x = x + 5.0
print(x)

print(type(x))

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Dividing Integers results to a float
# ---
#
a = 40
b = 5

print(a/b)
print(b/a)

# 4. Lists

A **list** is a compound data type that allows for the storage of items of different data types. We use lists to store a set of related data.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Question: Create a list named fish and store it with values of different types of fish
# ---
#

# Defining our list
fish = ["salmon", "star fish", "tilapia", "sword fish"]

# Printing our result
print(fish)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Question: Add elements to a list
# ---
#

# Adding the fish "gold fish" to our fish list
# ---
#
fish.append("gold fish")

# Printing our result
# ---
#
print(fish)

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Question: updating an element in a list
# ---
#
fish[2] = "nile tipalia"

# Printing our result
# ---
#
print(fish)

##### <font color="blue">Example 4

In [ ]:
# Example 4
# ---
# Question: Remove an element from a list
# ---
#
fish.remove("gold fish")

# Printing our result
# ---
#
print(fish)

##### <font color="blue">Example 5

In [ ]:
# Example 5
# ---
# Question: Slice the restaurant list to fetch specific elements in a list
# ---
#

# Getting the first element in the list as shown
# ---
#
print(fish[0])

# Getting the first two elements in the list as shown
# ---
#
print(fish[0:2])

# 5. Conditional (If) Statements

**Conditional if** statements are used for decision making. They will run code if only when if the statement is true. In general, we use conditional (if) statements to execute a certain part of code if a condition is satisfied.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Question: How do we use the If keyword?
# ---
#

# We first declare our variables
p = 500
q = 100

# Then we use the if keyword as shown. (We need to watchout for the white spaces)
if q < p:
  print("q is less than p")

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Question: How can we use the Elif keyword?
# ---
#
r = 100
s = 100

p = 500
q = 100

if s < r:
  if q < p:
    print("y is less than x")
elif r == s:
  print("r and s are equal")

##### <font color="blue">Example 3

In [ ]:
# Example 3
# ---
# Question: How can we use the Else keyword?
# ---
#

# Declaring our variables
a = 150
b = 50

# Then using our else keyword
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

# 6. For Loops

A **for loop** is a control flow statement that allows code to be executed repeatedly. The are used to iterate over a sequence i.e. list, dictionary, string,
etc. They can also be used to repeat a specific block of code a known number of times.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Question: Use a break statement to stop the loop before it continues its iteration
# ---
#

# Let's print out the restaurants list that we had created earlier on
restaurants = ["cj's", "Java", "Nyama Mama", "Italian", "Viridian", "Khosa"]

# Looping and using a break statement
for x in restaurants:
  print(x)
  if x == "Viridian":
    break

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Question: Use a continue statement to stop the current iteration of the loop
# and continue the next section of our code
# ---
#

# Creating a list
mobile_phone = ["iphone 4", "iphone 5", "iphone 6", "iphone 7", "iphone 8", "iphone x", "iphone xs"]

# Using a for loop
for x in mobile_phone:
    if x == 'iphone 6' or x == 'iphone 8':
         continue
    print('Checked Phone :', x)

# 7. Functions

A **function** is a block of organized, reusable code. We use functions to bundle a set of instructions that you want to use repeatedly.

#### <font color="blue">Examples</font>

##### <font color="blue">Example 1

In [ ]:
# Example 1
# ---
# Let's use built-in functions
# ---
# YOUR CODE GOES BELOW
#

# The max() function will return the item with the highest value as shown
# in the given list
a = [23, 22, 55, 23, 44]
x = max(a)
print(x)

# Using the max() function, we can return the item with the highest value alphabetically
y = max(["Susan", "Grace", "Simon"])
print(y)

##### <font color="blue">Example 2

In [ ]:
# Example 2
# ---
# Let's create a function to find out which of two numbers is greater than the other
# ---
# YOUR CODE GOES BELOW
#

# we define it by giving it the name max_of_two
def max_of_two():

  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5

  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:

      # the return keyword allows us to provide back the result/output of our function
    return first_number

    # the return key word allows us to provide back the result/output of our function
  return second_number

# Lastly, we do the most important step; which is to call the function that
# we have just created above. Calling allows us to use the function.
# We have also been calling our built-in functions from the previous section.
#
max_of_two()

##  End